<h1>Restaurants</h1>
<% @restaurants.each do |restaurant| %>
  <div>
    <h3><%= link_to restaurant.name, restaurants_path(restaurant.id) %></h3>
    <p><%= restaurant.address %></p>
    <p><%= restaurant.category %></p>
    <p><%= restaurant.phone_number %></p>
  </div>
<% end %>
